<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/Profesores/style.css">
    <title>Tus Profesores</title>
</head>
<body>
    <h1>TUS PROFESORES</h1>
    <div class="contenedor">
        <div class="card">
            <div class="card-encabezado">
                <img src="/view/Profesores/imagenes/sociales.png" alt="">
            </div>
        </div>
    </div>
    <div class="card-contenido">
        <div class="info-personal">Alex Garcia</div>
        <div class="info-personal">37483848</div>
        <div class="info-personal">Sociales</div>
        <p>Profesor del area de sociales e historia del arte</p>
    </div>

    <div class="contenedor">
    <div class="card">
        <div class="card-encabezado">
            <img src="/view/Profesores/imagenes/ingles.jpg" alt="">
        </div>
    </div>
</div>
<div class="card-contenido">
    <div class="info-personal">Juanita De Avila</div>
    <div class="info-personal">3747685658</div>
    <div class="info-personal">Ingles</div>
    <p>Profesor encargado del area de idiomas</p>
</div>

<div class="contenedor">
<div class="card">
    <div class="card-encabezado">
        <img src="/view/Profesores/imagenes/matematicas.jpeg" alt="">
    </div>
</div>
</div>
<div class="card-contenido">
<div class="info-personal">Federico Hernandez</div>
<div class="info-personal">37878989</div>
<div class="info-personal">Matematicas</div>
<p>Profesor encargado del area de Matematicas, Algebra y Geometria</p>
</div>
</div>
</body>
</html>